.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 170px;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-link.active {
  color: #2ecc71;
}

/* ----------- MOBILE ADAPTATION ----------- */
@media (max-width: 768px) {
  .navbar {
    /* puedes mantener el margin que quieras */
    margin: 10px 20px;
  }

  .navbar-list {
    /* mantén el flex-direction en fila (row) */
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    flex-wrap: wrap; /* para que si no entran, se ajusten en más filas */
    justify-content: center;
  }
}
