.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 170px;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

